* {
  box-sizing: border-box;
  outline: none; }
  * a:hover {
    cursor: default; }

.wrapper {
  max-width: 90%;
  width: 2480px;
  margin: 0 auto; }

.center {
  align-items: center;
  display: flex;
  justify-content: center; }

.center-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

body {
  height: 100vh;
  color: #2e2e2e;
  width: 100vw;
  font-weight: 200;
  overflow-x: hidden; }

[ng-click],
[data-ng-click],
[x-ng-click] {
  cursor: pointer; }

a:hover {
  cursor: pointer; }

h1 {
  font-family: "Oswald", sans-serif; }

header {
  border-bottom: thin solid #ece9e9;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  width: 90vw;
  margin: .5rem 0 .5rem 0;
  padding-bottom: .5rem; }
  header p {
    color: #2e2e2e;
    font-family: "Oswald", sans-serif;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    margin: 0; }
    header p a {
      font-family: "Oswald", sans-serif;
      text-decoration: none;
      color: #2e2e2e;
      transition: letter-spacing 1s; }
    header p a:visited {
      color: #2e2e2e; }
    header p a:hover {
      color: #d41d1d;
      letter-spacing: .25rem;
      cursor: pointer; }
  header nav {
    margin: .25rem 0 0 0; }
    header nav a {
      color: #d41d1d;
      font-family: "Prompt", sans-serif;
      font-weight: 200 !important;
      padding: 0 0.25rem;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase; }
    header nav a:hover {
      font-weight: 400 !important;
      cursor: pointer; }

footer {
  flex-direction: column;
  width: 100vw;
  position: fixed;
  margin: 0 0 .5rem 0; }
  footer .social-links {
    margin: 0rem .25rem 0 0;
    border-top: thin solid #2e2e2e;
    width: 37.5%; }
    footer .social-links a {
      color: #2e2e2e;
      font-size: 2rem;
      text-align: center;
      margin: .25rem 0.25rem 0 .25rem; }
    footer .social-links a:hover {
      color: #d41d1d;
      font-size: 2.15rem; }

button {
  background-color: #cc4040;
  border: none;
  outline: none;
  border-radius: 2rem;
  color: #fff;
  font-family: "Oswald", sans-serif;
  width: 10vw;
  padding: .5rem .3rem;
  text-transform: uppercase;
  font-size: .5rem; }

#search {
  width: 20%;
  outline: none;
  border: 3px solid #efefef;
  border-radius: 2rem;
  padding: .25rem 1rem; }

#search[type=text]:focus {
  border-color: #d41d1d;
  font-family: "Prompt", sans-serif;
  font-weight: 300; }

::-webkit-input-placeholder {
  color: #2e2e2e;
  font-family: "Prompt", sans-serif;
  font-weight: 300; }

.toggleDisplay {
  display: block; }

.toggleWeight {
  font-weight: 400; }

.links {
  flex-direction: column;
  margin: 0.25rem 0 0 0; }
  .links a {
    color: #2e2e2e;
    font-size: 1rem;
    margin: .25rem 0;
    text-decoration: none;
    font-family: "Prompt", sans-serif;
    font-size: 1rem;
    font-weight: 200; }
  .links a:last-child {
    margin-bottom: 0; }
  .links a:hover {
    color: #d41d1d;
    font-weight: 400; }

section {
  display: none;
  width: 90vw;
  border-bottom: thin solid #ece9e9;
  margin: 0;
  padding: .75rem 0; }
  section .text h1 {
    color: #d41d1d;
    margin: 0; }
  section .text p {
    font-family: "Prompt", sans-serif;
    font-size: .9rem; }

.modal {
  display: none;
  position: fixed;
  background: rgba(46, 46, 46, 0.4);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  outline: none;
  padding: 1.5rem 1rem; }
  .modal .modal-content {
    flex-direction: column;
    height: 100%;
    width: 100%; }
    .modal .modal-content #prev-text {
      height: 40%;
      padding: 2rem 3rem; }
    .modal .modal-content .text {
      flex-direction: column;
      height: 60%;
      width: 70%;
      background: #fff;
      padding: 2rem 3rem; }
      .modal .modal-content .text .text2 {
        width: 90%; }
        .modal .modal-content .text .text2 h1 {
          color: #d41d1d;
          font-family: "Oswald", sans-serif;
          text-transform: uppercase;
          text-align: left;
          margin: 0 0 .75rem 0;
          width: 100%; }
        .modal .modal-content .text .text2 p {
          color: #2e2e2e;
          font-family: "Prompt", sans-serif;
          text-align: left;
          margin: 0;
          font-size: .9rem;
          font-weight: 200; }
      .modal .modal-content .text .close {
        width: 90%;
        font-family: "Prompt", sans-serif;
        font-weight: 400;
        color: #d41d1d;
        text-transform: uppercase;
        text-align: right;
        margin: .75rem 0 0 0; }
      .modal .modal-content .text .close:hover {
        cursor: pointer; }

.landing {
  flex-direction: column; }
  .landing .content {
    flex-direction: column; }
    .landing .content .content2 {
      flex-direction: row;
      width: 100vw;
      height: 100vh;
      z-index: 1;
      margin: 0; }
      .landing .content .content2 .text {
        margin: 0 1rem; }
        .landing .content .content2 .text p:first-child {
          font-family: "Prompt", sans-serif;
          font-weight: 300;
          color: #d41d1d;
          font-size: 2.5rem;
          text-align: left;
          text-transform: uppercase;
          margin: 0; }
        .landing .content .content2 .text .title {
          font-family: "Oswald", sans-serif;
          color: #2e2e2e;
          text-align: left;
          font-size: 5.5rem;
          margin: 0 0 0.5rem 0;
          text-transform: uppercase; }
        .landing .content .content2 .text p:last-child {
          font-family: "Oswald", sans-serif;
          color: #fff;
          background-color: #d41d1d;
          font-size: 2.5rem;
          padding: 0.5rem 0.25rem 0.5rem 0;
          margin: 0;
          text-align: right; }
          .landing .content .content2 .text p:last-child a {
            color: #fff;
            text-decoration: none; }
          .landing .content .content2 .text p:last-child a:visited {
            color: #fff; }
        .landing .content .content2 .text p:last-child {
          font-family: "Oswald", sans-serif;
          color: #fff;
          background-color: #d41d1d;
          font-size: 2.5rem;
          padding: 0.5rem 0.75rem 0.5rem 0;
          margin: 0;
          text-align: right;
          transition: background-color 1s;
          transition: font-size 1s; }
          .landing .content .content2 .text p:last-child a {
            color: #fff;
            text-decoration: none;
            transition: background-color 1s; }
          .landing .content .content2 .text p:last-child a:visited {
            color: #fff; }
        .landing .content .content2 .text #view:hover {
          background-color: #fff;
          font-size: 2.75rem; }
          .landing .content .content2 .text #view:hover a {
            color: #d41d1d; }
      .landing .content .content2 img {
        width: 45%; }
    .landing .content .share {
      padding: 0;
      margin: -10% 0; }

.bannerad {
  width: 30%; }

.sguide {
  flex-direction: column;
  justify-content: flex-start; }
  .sguide h1 {
    font-family: "Oswald", sans-serif;
    color: #d41d1d;
    text-transform: uppercase; }
  .sguide p {
    font-family: "Prompt", sans-serif;
    color: #2e2e2e;
    font-weight: 200; }
  .sguide .filter {
    width: 90vw;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1rem 0; }
    .sguide .filter .filter-nav {
      margin-right: 1rem; }
      .sguide .filter .filter-nav h1 {
        margin: 0 .25rem .45rem 0; }
      .sguide .filter .filter-nav p {
        margin: .25rem 0 .25rem 0; }
    .sguide .filter .options {
      border-left: 1px solid #2e2e2e; }
      .sguide .filter .options .sal-options {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start; }
        .sguide .filter .options .sal-options h1 {
          margin: 0 0 .45rem 1rem; }
        .sguide .filter .options .sal-options .ranges {
          flex-direction: row;
          justify-content: flex-start;
          align-items: flex-start; }
          .sguide .filter .options .sal-options .ranges p {
            margin: .25rem 0 .25rem 1rem;
            text-align: left; }
          .sguide .filter .options .sal-options .ranges p:hover {
            color: #d41d1d;
            cursor: default; }
      .sguide .filter .options .dept-options {
        flex-direction: column;
        align-items: flex-start; }
        .sguide .filter .options .dept-options .deptandtitle-header {
          align-items: baseline; }
          .sguide .filter .options .dept-options .deptandtitle-header h1 {
            margin: 0 1rem 0 1rem; }
          .sguide .filter .options .dept-options .deptandtitle-header #dept-nav {
            margin: 0 0 0 0; }
            .sguide .filter .options .dept-options .deptandtitle-header #dept-nav a {
              font-size: 1.2rem;
              text-decoration: none;
              font-weight: 200;
              margin: 0;
              color: #d41d1d; }
            .sguide .filter .options .dept-options .deptandtitle-header #dept-nav a:hover {
              font-weight: 400;
              color: #d41d1d;
              cursor: default; }
            .sguide .filter .options .dept-options .deptandtitle-header #dept-nav a:visited {
              color: #d41d1d; }
      .sguide .filter .options #depts {
        flex-direction: column; }
        .sguide .filter .options #depts .list-containers {
          display: none;
          margin: 0; }
          .sguide .filter .options #depts .list-containers .dept-lists {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            list-style: none; }
            .sguide .filter .options #depts .list-containers .dept-lists li {
              margin: .25rem;
              font-family: "Prompt", sans-serif;
              font-weight: 200; }
            .sguide .filter .options #depts .list-containers .dept-lists li:first-child {
              margin-top: 0; }
            .sguide .filter .options #depts .list-containers .dept-lists li:hover {
              color: #d41d1d;
              cursor: default; }
  .sguide .table .table-nav {
    width: 90vw;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin: 1rem 0; }
    .sguide .table .table-nav .title {
      align-items: flex-end;
      text-transform: uppercase;
      font-size: 1rem; }
      .sguide .table .table-nav .title h1 {
        color: #2e2e2e;
        margin: 0;
        font-family: "Oswald", sans-serif; }
      .sguide .table .table-nav .title a {
        color: #d41d1d;
        margin: 0 0 0 1rem;
        text-decoration: none;
        font-family: "Prompt", sans-serif;
        font-size: 1.3rem;
        font-weight: 200; }
      .sguide .table .table-nav .title a:hover {
        font-weight: 400; }
      .sguide .table .table-nav .title a:visited {
        color: #d41d1d; }
  .sguide .table table {
    border-collapse: collapse;
    width: 90vw;
    text-align: center;
    position: relative; }
    .sguide .table table th {
      background-color: #d41d1d;
      transition: background-color .5s;
      text-align: center;
      font-family: "Oswald", sans-serif;
      font-size: 1.25rem;
      width: 30%; }
    .sguide .table table th:hover {
      background-color: #cc4040;
      cursor: default; }
    .sguide .table table th:last-child {
      margin-right: 1rem; }
    .sguide .table table .table-header {
      color: #fff;
      text-align: center;
      height: 5vh;
      text-transform: uppercase;
      width: 95vw; }
    .sguide .table table tr {
      border: none;
      height: 4em; }
    .sguide .table table tr:nth-child(odd) {
      background-color: #efefef;
      transition: background-color .3s; }
    .sguide .table table tr:nth-child(even) {
      background-color: #ece9e9;
      transition: background-color .3s; }
    .sguide .table table td {
      font-family: "Prompt", sans-serif;
      font-weight: 200;
      font-size: 1rem;
      margin: 0;
      padding: 0 .5rem; }
    .sguide .table table #tableRow {
      width: 10%; }
    .sguide .table table tr:hover {
      background-color: #E0E0E0;
      cursor: default; }
  .sguide .table .table-footer {
    flex-direction: row;
    margin-bottom: 1.5rem;
    justify-content: space-between; }
    .sguide .table .table-footer .buttons {
      justify-content: space-between; }
      .sguide .table .table-footer .buttons button {
        background-color: #d41d1d;
        border-radius: 1.5rem;
        transition: background-color .5s;
        text-align: center; }
      .sguide .table .table-footer .buttons button:hover {
        background-color: #cc4040; }
      .sguide .table .table-footer .buttons #prev {
        margin: 0 .5rem 0 0;
        width: 10vw; }
      .sguide .table .table-footer .buttons #next {
        margin: 0 0 0 .5rem;
        width: 10vw; }

@media (max-width: 1095px) {
  .modal .modal-content .text .text2 p {
    font-size: .87rem; }
  .modal .modal-content .text .close {
    font-size: .85rem; } }
@media (max-width: 1030px) {
  .modal .modal-content .text .text2 p {
    font-size: .85rem; }
  .modal .modal-content .text .close {
    font-size: .82rem; }

  .landing .content .content2 .text p:first-child {
    font-size: 1.6rem; }
  .landing .content .content2 .text .title {
    font-size: 3.5rem; } }
@media (max-width: 910px) {
  .modal .modal-content .text {
    height: 62%;
    width: 72%; }
    .modal .modal-content .text .text2 p {
      font-size: .82rem; }
    .modal .modal-content .text .close {
      font-size: .80rem; } }
@media (max-width: 865px) {
  .modal .modal-content .text {
    height: 62%;
    width: 75%; }
    .modal .modal-content .text .text2 p {
      font-size: .8rem; }
    .modal .modal-content .text .close {
      font-size: .77rem; }

  .landing .content {
    background-image: url(../sources/umd-tp2.png);
    background-size: cover; }
    .landing .content .content2 .text p:first-child {
      font-size: 1.75rem; }
    .landing .content .content2 .text .title {
      font-size: 3.75rem; }
    .landing .content .content2 .text p:last-child {
      font-size: 2rem;
      padding: 0.3rem 0.2rem 0.3rem 0; }
    .landing .content .content2 img {
      display: none; }

  .sguide {
    background-image: none;
    flex-direction: column;
    align-content: center;
    justify-content: center; }
    .sguide .table {
      flex-direction: column;
      align-content: center;
      justify-content: center; }
      .sguide .table .table-nav {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 90vw; }
        .sguide .table .table-nav .title {
          justify-content: space-between; }
          .sguide .table .table-nav .title h1 {
            margin-left: 0;
            font-size: 1.5rem; }
          .sguide .table .table-nav .title #filter {
            margin-left: 2.2rem;
            text-align: right;
            font-size: 1rem; }
        .sguide .table .table-nav #search {
          width: 90vw;
          margin: .25rem 0 0 0; }
      .sguide .table .filter {
        width: 90vw; }
        .sguide .table .filter .options .sal-options .ranges div p {
          font-size: .8rem; }
        .sguide .table .filter .options .dept-options .deptandtitle-header {
          flex-direction: column; }
          .sguide .table .filter .options .dept-options .deptandtitle-header #dept-nav {
            margin: 0 0 0 1rem; }
            .sguide .table .filter .options .dept-options .deptandtitle-header #dept-nav a {
              font-size: 1rem; }
        .sguide .table .filter .options #depts .list-containers .dept-lists li {
          font-size: .85rem;
          margin-left: -1.5rem; }
      .sguide .table table .table-header th {
        font-size: .8rem; }
      .sguide .table table tr td {
        font-size: .8rem; }
      .sguide .table .table-footer {
        margin: .25rem 0; }
        .sguide .table .table-footer .buttons button {
          font-size: .77rem;
          padding: .75rem 1.25rem; }
        .sguide .table .table-footer p {
          font-size: .7rem; } }
@media (max-width: 765px) {
  .modal .modal-content .text {
    width: 80%; }
    .modal .modal-content .text .text2 p {
      font-size: .77rem; }
    .modal .modal-content .text .close {
      font-size: .75rem; } }
@media (max-width: 690px) {
  .modal .modal-content .text .text2 p {
    font-size: .77rem; }
  .modal .modal-content .text .close {
    font-size: .75rem; } }
@media (max-width: 610px) {
  .modal .modal-content .text {
    height: 65%;
    width: 82%; }
    .modal .modal-content .text .text2 p {
      font-size: .75rem; }
    .modal .modal-content .text .close {
      font-size: .72rem; } }
@media (max-width: 575px) {
  .modal .modal-content #prev-text .text2 h1 {
    font-size: 1.5rem; }
  .modal .modal-content .text {
    height: 67%;
    width: 85%; }
    .modal .modal-content .text .text2 p {
      font-size: .75rem; }
    .modal .modal-content .text .close {
      font-size: .72rem; }

  .landing .content .content2 .text p:first-child {
    font-size: 1.4rem; }
  .landing .content .content2 .text .title {
    font-size: 3rem; }
  .landing .content .content2 .text p:last-child {
    font-size: 1.75rem;
    padding: 0.3rem 0.2rem 0.3rem 0; }
  .landing .content .content2 img {
    display: none; }

  .sguide {
    flex-direction: column;
    align-content: center;
    justify-content: center; }
    .sguide .table {
      flex-direction: column;
      align-content: center;
      justify-content: center; }
      .sguide .table .table-nav {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 90vw; }
        .sguide .table .table-nav .title {
          justify-content: space-between; }
          .sguide .table .table-nav .title h1 {
            margin-left: 0;
            font-size: 1.5rem; }
          .sguide .table .table-nav .title #filter {
            margin-left: 2.2rem;
            text-align: right;
            font-size: 1rem; }
        .sguide .table .table-nav #search {
          width: 90vw;
          margin: .25rem 0 0 0; }
      .sguide .table .filter {
        width: 90vw; }
        .sguide .table .filter .options .sal-options .ranges div p {
          font-size: .8rem; }
        .sguide .table .filter .options .dept-options .deptandtitle-header {
          flex-direction: column; }
          .sguide .table .filter .options .dept-options .deptandtitle-header #dept-nav {
            margin: 0 0 0 1rem; }
            .sguide .table .filter .options .dept-options .deptandtitle-header #dept-nav a {
              font-size: 1rem; }
        .sguide .table .filter .options #depts .list-containers .dept-lists li {
          font-size: .85rem;
          margin-left: -1.5rem; }
      .sguide .table table {
        width: 100vw; }
        .sguide .table table .table-header th {
          font-size: .6rem; }
        .sguide .table table tr td {
          font-size: .65rem; }
      .sguide .table .table-footer .buttons button {
        font-size: .65rem;
        text-align: center;
        padding: .25rem 1rem; }
      .sguide .table .table-footer .buttons #prev {
        margin-right: .25rem; }
      .sguide .table .table-footer .buttons #next {
        margin-left: .25rem; }
      .sguide .table .table-footer p {
        font-size: .7rem; } }
@media (max-width: 530px) {
  header p {
    font-size: 1.5rem; }
  header nav a {
    font-size: .9rem; }

  footer .social-links a {
    font-size: 1.35rem; }

  .modal .modal-content #prev-text {
    height: 35%;
    padding: 1.75rem 1.5rem; }
    .modal .modal-content #prev-text .text2 h1 {
      font-size: 1.25rem; }
    .modal .modal-content #prev-text .text2 .links a {
      font-size: .8rem; }
  .modal .modal-content .text {
    width: 87%;
    padding: 1rem 1.75rem; }
    .modal .modal-content .text .text2 h1 {
      font-size: 1.5rem; }
    .modal .modal-content .text .text2 p {
      font-size: .72rem; }
    .modal .modal-content .text .close {
      font-size: .70rem; }

  .bannerad {
    width: 80%; } }
@media (max-width: 430px) {
  .modal .modal-content .text .text2 p {
    font-size: .65rem; }
  .modal .modal-content .text .close {
    font-size: .62rem; }

  .sguide .table table tr {
    height: 2em; } }
@media (max-width: 375px) {
  .modal .modal-content .text {
    height: 77%; } }
@media (max-width: 320px) {
  .modal .modal-content .text {
    height: 75%;
    width: 95%; }
    .modal .modal-content .text .text2 h1 {
      font-size: 1.2rem; }
    .modal .modal-content .text .text2 p {
      font-size: .57rem; }
    .modal .modal-content .text .close {
      font-size: .55rem; } }

/*# sourceMappingURL=main.css.map */
