* {
  box-sizing: border-box; }

.wrapper {
  margin: 0 auto;
  max-width: 90%;
  width: 2480px; }

.center {
  align-items: center;
  display: flex;
  justify-content: center; }

body {
  height: 100vh;
  color: #2e2e2e;
  width: 100vw; }

header {
  flex-direction: column;
  width: 100vw; }
  header p {
    border-bottom: thin solid #2e2e2e;
    color: #2e2e2e;
    font-family: "Oswald", sans-serif;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    width: 35%; }
    header p a {
      text-decoration: none; }
    header p a:visited {
      color: #2e2e2e; }
  header nav {
    margin: -1.75rem 0 0 0; }
    header nav a {
      color: #d41d1d;
      font-family: "Prompt", sans-serif;
      font-weight: 200;
      padding: 0 .25rem;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase; }
    header nav a:hover {
      font-weight: 400;
      cursor: default; }

footer {
  border-top: thin solid #2e2e2e;
  flex-direction: column;
  width: 35%; }
  footer .social-links {
    margin: .25rem 0 0 0; }
    footer .social-links a {
      color: #2e2e2e;
      font-size: 2rem;
      text-align: center;
      margin: 0 .25rem; }
    footer .social-links a:hover {
      color: #d41d1d;
      font-size: 2.15rem; }

.modal {
  display: none;
  position: fixed;
  background: rgba(46, 46, 46, 0.4);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  outline: none; }
  .modal .modal-content {
    flex-direction: column;
    height: 100%;
    width: 100%; }
    .modal .modal-content #prev-text {
      height: 35%;
      padding: 2rem 3rem; }
    .modal .modal-content .text {
      height: 60%;
      width: 60%;
      background: #fff;
      z-index: 1;
      position: fixed;
      padding: 4rem 3rem;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      margin: 0 auto; }
      .modal .modal-content .text .close {
        color: #d41d1d;
        font-size: 2rem;
        text-align: center;
        float: right; }
      .modal .modal-content .text .close:hover {
        font-size: 2.25rem; }
      .modal .modal-content .text h1 {
        color: #d41d1d;
        font-family: "Oswald", sans-serif;
        text-transform: uppercase;
        text-align: center;
        margin: 2.5rem 0 1rem;
        border-bottom: thin solid #2e2e2e; }
      .modal .modal-content .text p {
        color: #2e2e2e;
        font-family: "Prompt", sans-serif;
        text-align: left;
        margin: 0;
        font-size: .9rem;
        font-weight: 200; }
      .modal .modal-content .text .links {
        flex-direction: column;
        margin: .25rem 0 0 0; }
        .modal .modal-content .text .links a {
          color: #2e2e2e;
          font-size: 1rem;
          text-align: center;
          margin: 0 .25rem;
          text-decoration: none;
          font-family: "Prompt", sans-serif;
          font-size: 1rem;
          margin: .5rem 0;
          font-weight: 200; }
        .modal .modal-content .text .links a:last-child {
          margin-bottom: 0; }
        .modal .modal-content .text .links a:hover {
          color: #d41d1d;
          font-weight: 400; }

.landing {
  flex-direction: column; }
  .landing .content {
    flex-direction: row;
    margin: 6.5rem 0; }
    .landing .content .text {
      margin: 0 1rem; }
      .landing .content .text p:first-child {
        font-family: "Prompt", sans-serif;
        font-weight: 300;
        color: #d41d1d;
        font-size: 2.5rem;
        text-align: center;
        text-transform: uppercase;
        margin: 0; }
      .landing .content .text .title {
        font-family: "Oswald", sans-serif;
        color: #2e2e2e;
        text-align: center;
        font-size: 5.5rem;
        margin: 0 0 .5rem 0;
        text-transform: uppercase; }
      .landing .content .text p:last-child {
        font-family: "Oswald", sans-serif;
        color: #fff;
        background-color: #d41d1d;
        font-size: 2.5rem;
        padding: .5rem .25rem .5rem 0;
        margin: 0;
        text-align: right; }
        .landing .content .text p:last-child a {
          color: #fff;
          text-decoration: none; }
        .landing .content .text p:last-child a:visited {
          color: #fff; }
      .landing .content .text #view:hover {
        background-color: #fff; }
        .landing .content .text #view:hover a {
          color: #d41d1d; }
    .landing .content img {
      width: 45%; }

.sguide {
  flex-direction: column; }
  .sguide #filter-modal ::-webkit-input-placeholder {
    text-align: right;
    text-transform: uppercase; }
  .sguide .table-nav {
    width: 90vw;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin: 1rem 0; }
    .sguide .table-nav .title {
      align-items: flex-end;
      text-transform: uppercase;
      font-size: 1rem; }
      .sguide .table-nav .title h1 {
        color: #2e2e2e;
        margin: 0;
        font-family: "Oswald", sans-serif; }
      .sguide .table-nav .title a {
        color: #d41d1d;
        margin: 0 0 0 1rem;
        text-decoration: none;
        font-family: "Prompt", sans-serif;
        font-size: 1.3rem;
        font-weight: 200; }
      .sguide .table-nav .title a:hover {
        font-weight: 400; }
      .sguide .table-nav .title a:visited {
        color: #d41d1d; }
    .sguide .table-nav button {
      background-color: #cc4040;
      border: none;
      outline: none;
      border-radius: 2rem;
      color: #fff;
      font-family: "Oswald", sans-serif;
      font-size: 1.25rem;
      width: 10vw;
      padding: .5rem .75rem;
      text-transform: uppercase;
      font-size: 1rem; }

table {
  border-collapse: collapse;
  width: 90vw;
  text-align: center; }
  table th {
    background-color: #d41d1d; }
  table .table-header {
    color: #fff;
    text-align: center;
    height: 5vh;
    text-transform: uppercase; }
  table tr {
    height: 7vh; }
  table tr:nth-child(odd) {
    background-color: #e1e1e1; }
  table tr:nth-child(even) {
    background-color: #ebebeb; }
