@import "../assets/bower_components/breakpoint-sass/stylesheets/_breakpoint.scss";
//variables
$black: #2e2e2e;
$red: #d41d1d;
$disabled-red: #cc4040;
$white: #fff;
$grey: #ece9e9;
$darkgrey: #efefef;
$oswald: "Oswald",
sans-serif;
$prompt: "Prompt",
sans-serif;
//begin styles
* {
    box-sizing: border-box;
    outline: none;
    a:hover {
        cursor: default;
    }
}

.wrapper {
    max-width: 90%;
    width: 2480px;
    margin: 0 auto;
}

.center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.center-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    height: 100vh;
    color: $black;
    width: 100vw;
    font-weight: 200;
    overflow-x: hidden;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

a:hover {
    cursor: pointer;
}

h1 {
    font-family: $oswald;
}

header {
    border-bottom: thin solid $grey;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    width: 90vw;
    margin: .5rem 0 .5rem 0;
    padding-bottom: .5rem;
    //z-index: 2;
    p {
        //border-bottom: thin solid $black;
        color: $black;
        font-family: $oswald;
        font-size: 2rem;
        text-align: center;
        text-transform: uppercase;
        margin: 0;
        a {
            font-family: $oswald;
            text-decoration: none;
            color: $black;
            transition: letter-spacing 1s;
        }
        a:visited {
            color: $black;
        }
        a:hover {
            color: $red;
            letter-spacing: .25rem;
            cursor: pointer;
        }
    }
    nav {
        margin: .25rem 0 0 0;
        a {
            color: $red;
            font-family: $prompt;
            font-weight: 200 !important;
            padding: 0 0.25rem;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
        }
        a:hover {
            font-weight: 400 !important;
            cursor: pointer;
        }
    }
}

footer {
    flex-direction: column;
    width: 100vw;
    position: fixed;
    margin: 0 0 .5rem 0;
    .social-links {
        margin: 0rem .25rem 0 0;
        border-top: thin solid $black;
        width: 37.5%;
        a {
            color: $black;
            font-size: 2rem;
            text-align: center;
            margin: .25rem 0.25rem 0 .25rem;
        }
        a:hover {
            color: $red;
            font-size: 2.15rem;
        }
    }
}

button {
    background-color: $disabled-red;
    border: none;
    outline: none;
    border-radius: 2rem;
    color: $white;
    font-family: $oswald;
    width: 10vw;
    padding: .5rem .3rem;
    text-transform: uppercase;
    font-size: .5rem;
}

#search {
    width: 20%;
    outline: none;
    border: 3px solid $darkgrey;
    border-radius: 2rem;
    padding: .25rem 1rem;
}

#search[type=text]:focus {
    border-color: $red;
    font-family: $prompt;
    font-weight: 300;
}

::-webkit-input-placeholder {
    color: $black;
    font-family: $prompt;
    font-weight: 300;
}

.toggleDisplay {
    display: block;
}

.toggleWeight {
    font-weight: 400;
}

.links {
    flex-direction: column;
    margin: 0.25rem 0 0 0;
    a {
        color: $black;
        font-size: 1rem;
        margin: .25rem 0;
        text-decoration: none;
        font-family: $prompt;
        font-size: 1rem;
        font-weight: 200;
    }
    a:last-child {
        margin-bottom: 0;
    }
    a:hover {
        color: $red;
        font-weight: 400;
    }
}

//end general styles
//begin section styles
section {
    display: none;
    width: 90vw;
    border-bottom: thin solid $grey;
    margin: 0;
    padding: .75rem 0;
    h1 {
        color: $red;
        margin: 0;
    }
    p {
        font-family: $prompt;
        font-size: .9rem;
    }
}

//end section styles
//begin modal styles
.modal {
    display: none;
    position: fixed;
    background: fade-out($black, 0.6);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    outline: none;
    padding: 1.5rem 1rem;
    //z-index: 2;
    .modal-content {
        flex-direction: column;
        height: 100%;
        width: 100%;
        #prev-text {
            height: 40%;
            padding: 2rem 3rem;
            //            .modal-header {
            //                margin-bottom: 2rem;
            //            }
        }
        .text {
            flex-direction: column;
            height: 60%;
            width: 70%;
            background: $white;
            //z-index: 1;
            padding: 2rem 3rem;
            //                .modal-header {
            //                height: 100%;
            //                width: 10%;
            //                align-items: flex-start;
            //                justify-content: flex-end;
            //                margin: 0;
            //                .close {
            //                    font-family: $prompt;
            //                    font-weight: 200;
            //                    color: $black;
            //                    font-size: 5rem;
            //                    margin: -1.5rem 0 0 0;
            //                }
            //                .close:hover {
            //                    cursor: default;
            //                }
            //            }
            .text2 {
                width: 90%;
                h1 {
                    color: $red;
                    font-family: $oswald;
                    text-transform: uppercase;
                    text-align: left;
                    margin: 0 0 .75rem 0;
                    width: 100%;
                }
                p {
                    color: $black;
                    font-family: $prompt;
                    text-align: left;
                    margin: 0;
                    font-size: .9rem;
                    font-weight: 200;
                }
            }
            .close {
                width: 90%;
                font-family: $prompt;
                font-weight: 400;
                color: $red;
                text-transform: uppercase;
                text-align: right;
                margin: .75rem 0 0 0;
            }
            .close:hover {
                cursor: pointer;
            }
        }
    }
}

//end modal styles
//begin landing page styles
.landing {
    flex-direction: column;
    .content {
        flex-direction: row;
        width: 100vw;
        height: 100vh;
        z-index: 1;
        .text {
            margin: 0 1rem;
            p:first-child {
                font-family: $prompt;
                font-weight: 300;
                color: $red;
                font-size: 2.5rem;
                text-align: left;
                text-transform: uppercase;
                margin: 0;
            }
            .title {
                font-family: $oswald;
                color: $black;
                text-align: left;
                font-size: 5.5rem;
                margin: 0 0 0.5rem 0;
                text-transform: uppercase;
            }
            p:last-child {
                font-family: $oswald;
                color: $white;
                background-color: $red;
                font-size: 2.5rem;
                padding: 0.5rem 0.25rem 0.5rem 0;
                margin: 0;
                text-align: right;
                a {
                    color: $white;
                    text-decoration: none;
                }
                a:visited {
                    color: $white;
                }
            }
            p:last-child {
                font-family: $oswald;
                color: $white;
                background-color: $red;
                font-size: 2.5rem;
                padding: 0.5rem 0.75rem 0.5rem 0;
                margin: 0;
                text-align: right;
                transition: background-color 1s;
                transition: font-size 1s;
                //transition: text-transform 1s;
                a {
                    color: $white;
                    text-decoration: none;
                    transition: background-color 1s;
                }
                a:visited {
                    color: $white;
                }
            }
            #view:hover {
                background-color: $white;
                font-size: 2.75rem;
                //text-transform: uppercase;
                a {
                    color: $red;
                }
            }
        }
        img {
            width: 45%;
        }
    }
}

//end landing page styles
//begin salary guide page styles
.sguide {
    flex-direction: column;
    justify-content: flex-start;
    h1 {
        font-family: $oswald;
        color: $red;
        text-transform: uppercase;
    }
    p {
        font-family: $prompt;
        color: $black;
        font-weight: 200;
    }
    .filter {
        width: 90vw;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 1rem 0;
        .filter-nav {
            margin-right: 1rem;
            h1 {
                margin: 0 .25rem .45rem 0;
            }
            p {
                margin: .25rem 0 .25rem 0;
            }
        }
        .options {
            border-left: 1px solid $black;
            .sal-options {
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                h1 {
                    margin: 0 0 .45rem 1rem;
                }
                .ranges {
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: flex-start;
                    p {
                        margin: .25rem 0 .25rem 1rem;
                        text-align: left;
                    }
                    p:hover {
                        color: $red;
                        cursor: default;
                    }
                }
            }
            .dept-options {
                flex-direction: column;
                align-items: flex-start;
                .deptandtitle-header {
                    align-items: baseline;
                    h1 {
                        margin: 0 1rem 0 1rem;
                    }
                    #dept-nav {
                        margin: 0 0 0 0;
                        a {
                            font-size: 1.2rem;
                            text-decoration: none;
                            font-weight: 200;
                            margin: 0;
                            color: $red;
                        }
                        a:hover {
                            font-weight: 400;
                            color: $red;
                            cursor: default;
                        }
                        a:visited {
                            color: $red;
                        }
                    }
                }
            }
            #depts {
                flex-direction: column;
                .list-containers {
                    display: none;
                    margin: 0;
                    .dept-lists {
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        list-style: none;
                        li {
                            margin: .25rem;
                            font-family: $prompt;
                            font-weight: 200;
                        }
                        li:first-child {
                            margin-top: 0;
                        }
                        li:hover {
                            color: $red;
                            cursor: default;
                        }
                    }
                }
            }
        }
    }
    .table {
        .table-nav {
            width: 90vw;
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;
            margin: 1rem 0;
            .title {
                align-items: flex-end;
                text-transform: uppercase;
                font-size: 1rem;
                h1 {
                    color: $black;
                    margin: 0;
                    font-family: $oswald;
                }
                a {
                    color: $red;
                    margin: 0 0 0 1rem;
                    text-decoration: none;
                    font-family: $prompt;
                    font-size: 1.3rem;
                    font-weight: 200;
                }
                a:hover {
                    font-weight: 400;
                }
                a:visited {
                    color: $red;
                }
            }
        }
        table {
            border-collapse: collapse;
            width: 90vw;
            text-align: center;
            position: relative;
            th {
                background-color: $red;
                transition: background-color .5s;
                text-align: center;
                font-family: $oswald;
                font-size: 1.25rem;
                width: 30%;
            }
            th:hover {
                background-color: $disabled-red;
                cursor: default;
            }
            th:last-child {
                margin-right: 1rem;
            }
            .table-header {
                color: $white;
                text-align: center;
                height: 5vh;
                text-transform: uppercase;
                width: 95vw;
            }
            tr {
                border: none;
                height: 4em;
            }
            tr:nth-child(odd) {
                background-color: $darkgrey;
                transition: background-color .3s;
            }
            tr:nth-child(even) {
                background-color: $grey;
                transition: background-color .3s;
            }
            td {
                font-family: $prompt;
                font-weight: 200;
                font-size: 1rem;
                margin: 0;
                padding: 0 .5rem;
            }
            #tableRow {
                width: 10%;
            }
            tr:hover {
                background-color: #E0E0E0;
                cursor: default;
            }
        }
        .table-footer {
            flex-direction: row;
            margin-bottom: 1.5rem;
            justify-content: space-between;
            .buttons {
                justify-content: space-between;
                button {
                    background-color: $red;
                    border-radius: 1.5rem;
                    transition: background-color .5s;
                    text-align: center;
                }
                button:hover {
                    background-color: $disabled-red;
                }
                #prev {
                    margin: 0 .5rem 0 0;
                    width: 10vw;
                }
                #next {
                    margin: 0 0 0 .5rem;
                    width: 10vw;
                }
            }
        }
    }
}

//media queries
@include breakpoint(max-width 1095px) {
    .modal {
        .modal-content {
            .text {
                .text2 {
                    p {
                        font-size: .87rem;
                    }
                }
                .close {
                    font-size: .85rem;
                }
            }
        }
    }
}

@include breakpoint(max-width 1030px) {
    .modal {
        .modal-content {
            .text {
                .text2 {
                    p {
                        font-size: .85rem;
                    }
                }
                .close {
                    font-size: .82rem;
                }
            }
        }
    }
    .landing {
        .content {
            .text {
                p:first-child {
                    font-size: 1.6rem;
                }
                .title {
                    font-size: 3.5rem;
                }
            }
        }
    }
}

@include breakpoint(max-width 910px) {
    .modal {
        .modal-content {
            .text {
                height: 62%;
                width: 72%;
                .text2 {
                    p {
                        font-size: .82rem;
                    }
                }
                .close {
                    font-size: .80rem;
                }
            }
        }
    }
}

@include breakpoint(max-width 865px) {
    header {
        //border-bottom: thin solid $white;
    }
    .modal {
        .modal-content {
            .text {
                height: 62%;
                width: 75%;
                .text2 {
                    p {
                        font-size: .8rem;
                    }
                }
                .close {
                    font-size: .77rem;
                }
            }
        }
    }
    .landing {
        .content {
            background-image: url(../sources/umd-tp2.png);
            background-size: cover;
            .text {
                p:first-child {
                    font-size: 1.75rem;
                }
                .title {
                    font-size: 3.75rem;
                }
                p:last-child {
                    font-size: 2rem;
                    padding: 0.3rem 0.2rem 0.3rem 0;
                }
            }
        }
        img {
            display: none;
        }
    }
    .sguide {
        background-image: none;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        .table {
            flex-direction: column;
            align-content: center;
            justify-content: center;
            .table-nav {
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                width: 90vw;
                .title {
                    justify-content: space-between;
                    h1 {
                        margin-left: 0;
                        font-size: 1.5rem;
                    }
                    #filter {
                        margin-left: 2.2rem;
                        text-align: right;
                        font-size: 1rem;
                    }
                }
                #search {
                    width: 90vw;
                    margin: .25rem 0 0 0;
                }
            }
            .filter {
                width: 90vw;
                .options {
                    .sal-options {
                        .ranges {
                            div {
                                p {
                                    font-size: .8rem;
                                }
                            }
                        }
                    }
                    .dept-options {
                        .deptandtitle-header {
                            flex-direction: column;
                            #dept-nav {
                                margin: 0 0 0 1rem;
                                a {
                                    font-size: 1rem;
                                }
                            }
                        }
                    }
                    #depts {
                        .list-containers {
                            .dept-lists {
                                li {
                                    font-size: .85rem;
                                    margin-left: -1.5rem;
                                }
                            }
                        }
                    }
                }
            }
            table {
                .table-header {
                    th {
                        font-size: .8rem;
                    }
                }
                tr {
                    td {
                        font-size: .8rem;
                    }
                }
            }
            .table-footer {
                margin: .25rem 0;
                .buttons {
                    button {
                        font-size: .77rem;
                        padding: .75rem 1.25rem;
                    }
                }
                p {
                    font-size: .7rem;
                }
            }
        }
    }
}

@include breakpoint(max-width 765px) {
    .modal {
        .modal-content {
            .text {
                width: 80%;
                .text2 {
                    p {
                        font-size: .77rem;
                    }
                }
                .close {
                    font-size: .75rem;
                }
            }
        }
    }
}

@include breakpoint(max-width 690px) {
    .modal {
        .modal-content {
            .text {
                .text2 {
                    p {
                        font-size: .77rem;
                    }
                }
                .close {
                    font-size: .75rem;
                }
            }
        }
    }
}

@include breakpoint(max-width 610px) {
    .modal {
        .modal-content {
            .text {
                height: 65%;
                width: 82%;
                .text2 {
                    p {
                        font-size: .75rem;
                    }
                }
                .close {
                    font-size: .72rem;
                }
            }
        }
    }
}

@include breakpoint(max-width 575px) {
    .modal {
        .modal-content {
            #prev-text {
                .text2 {
                    h1 {
                        font-size: 1.5rem;
                    }
                }
            }
            .text {
                height: 67%;
                width: 85%;
                .text2 {
                    p {
                        font-size: .75rem;
                    }
                }
                .close {
                    font-size: .72rem;
                }
            }
        }
    }
    .landing {
        .content {
            .text {
                p:first-child {
                    font-size: 1.4rem;
                }
                .title {
                    font-size: 3rem;
                }
                p:last-child {
                    font-size: 1.75rem;
                    padding: 0.3rem 0.2rem 0.3rem 0;
                }
            }
        }
        img {
            display: none;
        }
    }
    .sguide {
        flex-direction: column;
        align-content: center;
        justify-content: center;
        .table {
            flex-direction: column;
            align-content: center;
            justify-content: center;
            .table-nav {
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                width: 90vw;
                .title {
                    justify-content: space-between;
                    h1 {
                        margin-left: 0;
                        font-size: 1.5rem;
                    }
                    #filter {
                        margin-left: 2.2rem;
                        text-align: right;
                        font-size: 1rem;
                    }
                }
                #search {
                    width: 90vw;
                    margin: .25rem 0 0 0;
                }
            }
            .filter {
                width: 90vw;
                .options {
                    .sal-options {
                        .ranges {
                            div {
                                p {
                                    font-size: .8rem;
                                }
                            }
                        }
                    }
                    .dept-options {
                        .deptandtitle-header {
                            flex-direction: column;
                            #dept-nav {
                                margin: 0 0 0 1rem;
                                a {
                                    font-size: 1rem;
                                }
                            }
                        }
                    }
                    #depts {
                        .list-containers {
                            .dept-lists {
                                li {
                                    font-size: .85rem;
                                    margin-left: -1.5rem;
                                }
                            }
                        }
                    }
                }
            }
            table {
                .table-header {
                    th {
                        font-size: .6rem;
                    }
                }
                tr {
                    td {
                        font-size: .65rem;
                    }
                }
            }
            .table-footer {
                .buttons {
                    button {
                        font-size: .65rem;
                        text-align: center;
                        padding: .25rem 1rem;
                    }
                    #prev {
                        margin-right: .25rem;
                    }
                    #next {
                        margin-left: .25rem;
                    }
                }
                p {
                    font-size: .7rem;
                }
            }
        }
    }
}

@include breakpoint(max-width 530px) {
    header {
        p {
            font-size: 1.5rem;
        }
        nav {
            a {
                font-size: .9rem;
            }
        }
    }
    footer {
        .social-links {
            a {
                font-size: 1.35rem;
            }
        }
    }
    .modal {
        .modal-content {
            #prev-text {
                height: 35%;
                padding: 1.75rem 1.5rem;
                .text2 {
                    h1 {
                        font-size: 1.25rem;
                    }
                    .links {
                        a {
                            font-size: .8rem;
                        }
                    }
                }
            }
            .text {
                //height: 70%;
                width: 87%;
                padding: 1rem 1.75rem;
                .text2 {
                    h1 {
                        font-size: 1.5rem;
                    }
                    p {
                        font-size: .72rem;
                    }
                }
                .close {
                    font-size: .70rem;
                }
            }
        }
    }
}

@include breakpoint(max-width 430px) {
    .modal {
        .modal-content {
            .text {
                .text2 {
                    p {
                        font-size: .65rem;
                    }
                }
                .close {
                    font-size: .62rem;
                }
            }
        }
    }
    .sguide {
        .table {
            table {
                tr {
                    height: 2em;
                }
            }
        }
    }
}

@include breakpoint(max-width 375px) {
    .modal {
        .modal-content {
            .text {
                height: 77%;
            }
        }
    }
}

@include breakpoint(max-width 320px) {
    .modal {
        .modal-content {
            .text {
                height: 75%;
                width: 95%;
                .text2 {
                    h1 {
                        font-size: 1.2rem;
                    }
                    p {
                        font-size: .57rem;
                    }
                }
                .close {
                    font-size: .55rem;
                }
            }
        }
    }
}
