<div class="content center animated">
    <div class="content2 center">
        <div class="text">
            <p>The Diamondback's 2018</p>
            <p class="title">Salary Guide</p>
            <a>
                <p ng-click="go('salGuide')" id="view">
                    <a>view</a>
                </p>
            </a>
        </div>
        <img src="sources/umd2.jpg" alt="University of Maryland">
    </div>

    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <div class="addthis_sharing_toolbox share"></div>
</div>
