<html>
    <head>
        <title>DBK Salary Guide</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
        <link rel="stylesheet" type="text/css" href="../css/main.css">
<!--        <link rel="stylesheet" href="../css/font-awesome.min.css">-->
        <link href="https://fonts.googleapis.com/css?family=Oswald:700|Prompt:200,300,400" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script type="text/javascript" src="../js/main.js"></script>
        <script src="https://use.fontawesome.com/c591e9e2eb.js"></script>
    </head>
    
    <body>
        <wrapper>
            <div class="landing center">
               
                <header class="header center">
                    <p><a href="http://www.dbknews.com/">DBK</a></p>
                    <nav>
                        <a id="about">About</a>
                        <a id ="previous">Previous</a>
                    </nav>
                </header>
                
                <div class="content center">
                    <div class="text">
                        <p>The Diamondback's 2017</p>
                        <p class="title">Salary Guide</p>
                        <p id ="view"><a href="lex-salaryguide.html" target="_blank">view</a></p>
                    </div>
                    <img src="../sources/umd.jpg" alt="University of Maryland">
                </div>
                
                <footer class="footer center">
                    <div class="social-links">
                        <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href=""><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                        <a href=""><i class="fa fa-plus" aria-hidden="true"></i></a> 
                    </div>
                </footer>
                
            </div>
            
            <div class="modal center" id="abt-modal">
                <div class="modal-content center">
                   <div class="text">
                       <i class="fa fa-times-circle-o close" id="abt-close" aria-hidden="true"></i>
                    <h1>About</h1>
                    <p>
                        At The Diamondback, we’ve pledged to hold the University of Maryland accountable in our coverage. Our 
                        <br /> annual salary guide adheres to that mission, laying out each university employee’s yearly pay in an easily 
                        <br /> digestible format. Here, you can find charts searchable by salary, department, title and other information.
                        <br />
                        <br />
                        Each year, the university provides this public data to The Diamondback in a basic Excel spreadsheet. We’ve 
                        <br />rendered its contents on the online without tampering; if so inclined, readers could request the same public 
                        <br />data from the university to receive all of the information presented in this guide.
                        <br />
                        <br />
                        The Diamondback chooses to compile this data year after year as a service to our readers — giving students, 
                        <br />alumni, employees and others in the university community immediate, comprehensive access. As with all of 
                        <br />our news coverage, the salary guide maintains The Diamondback’s commitment to objectivity. We won’t tell 
                        <br />you what conclusions to draw from these numbers, but it’s our hope that they’ll give you every bit of 
                        <br />information you need to reflect on your own. As always, your takeaways from this information are your own 
                        <br />— just as they should be.
                    </p>
                   </div>
                </div>
            </div>
            
            <div class="modal center" id="prev-modal">
                <div class="modal-content center">
                   <div class="text" id="prev-text">
                        <i class="fa fa-times-circle-o close" id="prev-close" aria-hidden="true"></i>
                        <h1>Previous Years</h1>
                        <div class="links center">
                            <a href="#">2016 Salary Guide</a>
                            <a href="#">2015 Salary Guide</a>
                            <a href="#">2014 Salary Guide</a>
                        </div>
                   </div>
                </div>
            </div>
            
        </wrapper>
    </body>
</html>
