<wrapper>
            <div class="sguide center">
            
               <div class="table-nav center">
                   <div class="title center">
                       <h1>2017 Salary Guide</h1>
                       <a id="filter">Filter</a>
                   </div>
                   
                   <button>Compare</button>
               </div>
                
                <table>
                    <tr class="table-header">
                        <th><i class="fa fa-check-square-o" aria-hidden="true"></i></th>
                        <th>Employee</th>
                        <th>Department</th>
                        <th>Division</th>
                        <th>Title</th>
                        <th>Annual Base Salary</th>
                    </tr>
                    
                    <tr>
                        <td>
                            <input type="checkbox">
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    
                    <tr>
                        <td>
                            <input type="checkbox">
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    
                    <tr>
                        <td>
                            <input type="checkbox">
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
                
                <div class="modal" id="filter-modal">
                    <div class="modal-content">
                        <div class="text">
                            <i class="fa fa-times-circle-o close" id="close" aria-hidden="true"></i>
                            <h1>Filter</h1>
                                
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </wrapper>