<wrapper>
            <div class="sguide-table center">
            
                <div class="table-nav center">
                    <text class="center">
                        <h1>Salary Guide 2017</h1>
                        <a id="filter">Filter</a>
                    </text>
                    
                    <button class="button" id="graph">Compare (<span id="numEmployees"></span>)</button>
                </div>
                
                <table>
                    <tr class="table-header">
                        <th><i class="fa fa-check-square-o" aria-hidden="true"></i></th>
                        <th>Employee</th>
                        <th>Department</th>
                        <th>Division</th>
                        <th>Title</th>
                        <th>Annual Base Salary</th>
                    </tr>
                    
                    <tr>
                        <td>
                            <input type="checkbox">
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    
                    <tr>
                        <td>
                            <input type="checkbox">
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    
                    <tr>
                        <td>
                            <input type="checkbox">
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
                
                
                
            </div>
        </wrapper>