<wrapper>
    <div class="sguide center">

        <!--
        <section id="about-section">
            <h1>About</h1>
            <p>
                At The Diamondback, we’ve pledged to hold the University of Maryland accountable in our coverage. Our annual salary guide adheres to that mission, laying out each university employee’s yearly pay in an easily digestible format. Here, you can find charts searchable by salary, department, title and other information.
                <br />
                <br /> Each year, the university provides this public data to The Diamondback in a basic Excel spreadsheet. We’ve rendered its contents on the online without tampering; if so inclined, readers could request the same public data from the university to receive all of the information presented in this guide.
                <br />
                <br /> The Diamondback chooses to compile this data year after year as a service to our readers — giving students, alumni, employees and others in the university community immediate, comprehensive access. As with all of our news coverage, the salary guide maintains The Diamondback’s commitment to objectivity. We won’t tell you what conclusions to draw from these numbers, but it’s our hope that they’ll give you every bit of information you need to reflect on your own. As always, your takeaways from this information are your own — just as they should be.
            </p>
        </section>

        <section id="allGuides">
            <h1>All Salary Guides</h1>
            <div class="links center">
                <a onclick="$('.close').click();" href="#/salGuide?year=2017">2017 Salary Guide</a>
                <a onclick="$('.close').click();" href="#/salGuide?year=2016">2016 Salary Guide</a>
                <a onclick="$('.close').click();" href="#/salGuide?year=2015">2015 Salary Guide</a>
                <a onclick="$('.close').click();" href="#/salGuide?year=2014">2014 Salary Guide</a>
                <a onclick="$('.close').click();" href="#/salGuide?year=2013">2013 Salary Guide</a>
            </div>
        </section>
-->

        <div class="table">

            <div class="table-nav center">
                <div class="title center">
                    <h1>{{year}} Salary Guide</h1>
                    <!--                    <a id="filter">Filter</a>-->
                </div>
                <input type="text" ng-model="search_term" ng-change="search_data()" type="search" placeholder="SEARCH" id="search">
            </div>

            <div ng-if="dataLoading" class="center-page"><img src="sources/loading.gif" /></div>

            <!--
<div class="filter center toggleDisplay">
    <div class="filter-nav">
        <h1>Filter By</h1>
        <p id="salary">Salary</p>
        <p id="dept">Department</p>
        <p id="title">Title</p>
    </div>

    <div class="options">
        <div class="sal-options center">
            <h1>Salary Ranges</h1>
            <div class="ranges center">
                <div>
                    <p>$0 - $50,000</p>
                    <p>$50,001 - $100,000</p>
                    <p>$100,101 - $150,000</p>
                    <p>$150,101 - $200,000</p>
                    <p>$200,101 - $250,000</p>
                    <p>$251,101 - $300,000</p>
                    <p>$300,101 - $350,000</p>
                </div>
                <div>
                    <p>$351,101 - $400,000</p>
                    <p>$400,101 - $450,000</p>
                    <p>$451,101 - $500,000</p>
                    <p>$500,101 - $550,000</p>
                    <p>$551,101 - $600,000</p>
                    <p>$600,001 and up</p>
                </div>
            </div>

        </div>

        <div class="dept-options center">
            <div class="deptandtitle-header center">
                <h1>Department</h1>
                <p id="dept-nav">
                    <a href="#A" class="A">A</a>&nbsp;|&nbsp;
                    <a href="#B" class="B">B</a>&nbsp;|&nbsp;
                    <a href="#C" class="C">C</a>&nbsp;|&nbsp;
                    <a href="#D" class="D">D</a>&nbsp;|&nbsp;
                    <a href="#E" class="E">E</a>&nbsp;|&nbsp;
                    <a href="#F" class="F">F</a>&nbsp;|&nbsp;
                    <a href="#G" class="G">G</a>&nbsp;|&nbsp;
                    <a href="#H" class="H">H</a>&nbsp;|&nbsp;
                    <a href="#I" class="I">I</a>&nbsp;|&nbsp;
                    <a href="#J" class="J">J</a>&nbsp;|&nbsp;
                    <a href="#K" class="K">K</a>&nbsp;|&nbsp;
                    <a href="#L" class="L">L</a>&nbsp;|&nbsp;
                    <a href="#M" class="M">M</a>&nbsp;|&nbsp;
                    <a href="#N" class="N">N</a>&nbsp;|&nbsp;
                    <a href="#P" class="P">P</a>&nbsp;|&nbsp;
                    <a href="#R" class="R">R</a>&nbsp;|&nbsp;
                    <a href="#S" class="S">S</a>&nbsp;|&nbsp;
                    <a href="#T" class="T">T</a>&nbsp;|&nbsp;
                    <a href="#U" class="U">U</a>&nbsp;|&nbsp;
                    <a href="#V" class="V">V</a>&nbsp;|&nbsp;
                    <a href="#W" class="W">W</a>
                </p>
            </div>

            <div id="depts" class="center">

                <div id="A" class="list-containers">
                    <ul id="a1" class="dept-lists center">
                        <li>Accounting</li>
                        <li>Aerospace Engineering</li>
                        <li>African American Studies</li>
                        <li>Agricultural and Resource Economics</li>
                        <li>Air Force ROTC</li>
                        <li>American Studies</li>
                        <li>Animal and Avian Sciences</li>
                        <li>Anthropology</li>
                        <li>Applied Mathematics
                            <br />and Scientific Computation Program</li>
                    </ul>

                    <ul id="a2" class="dept-lists">
                        <li>Arabic Studies</li>
                        <li>Architecture</li>
                        <li>Army ROTC</li>
                        <li>Art</li>
                        <li>Art History and Archaelogy</li>
                        <li>Asian American Studies Program</li>
                        <li>Astronomy</li>
                        <li>Atmospheric and Oceanic Science</li>
                    </ul>
                </div>

                <div id="B" class="list-containers">
                    <ul id="b1" class="dept-lists">
                        <li>Behavioral and Community Health</li>
                        <li>Biochemistry</li>
                        <li>Bioengineering</li>
                        <li>Biological Sciences Undergraduate Program</li>
                        <li>Biology</li>
                        <li>Biophysics</li>
                        <li>Business</li>
                    </ul>
                </div>


                <div id="C" class="list-containers">
                    <ul id="c1" class="dept-lists">
                        <li>Cell Biology and Molecular Genetics</li>
                        <li>Chemical and Biomolecular Engineering</li>
                        <li>Chemical Physics Program</li>
                        <li>Chemistry and Biochemistry</li>
                        <li>Chinese Language and Culture</li>
                        <li>Civil and Environmental Engineering</li>
                        <li>Classics</li>
                    </ul>

                    <ul id="c2" class="dept-lists">
                        <li>Communication</li>
                        <li>Comparative Literature Program</li>
                        <li>Computer Science</li>
                        <li>Counseling Psychology, School Psychology,
                            <br />and Counselor Education</li>
                        <li>Criminology and Criminal Justice</li>
                    </ul>
                </div>

                <div id="D" class="list-containers">
                    <ul id="d1" class="dept-lists">
                        <li>Dance</li>
                        <li>Decision, Operations &amp; Information Technologies </li>
                    </ul>
                </div>

                <div id="E" class="list-containers">
                    <ul id="e1" class="dept-lists">
                        <li>Economics</li>
                        <li>Education, Curriculum and Instruction</li>
                        <li>Higher Education, Student Affairs,
                            <br />and International Education Policy</li>
                        <li>Education Policy Studies</li>
                        <li>Electrical and Computer Engineering</li>
                        <li>English Language and Literature</li>
                    </ul>

                    <ul id="e2" class="dept-lists">
                        <li>Entomology</li>
                        <li>Environmental Science and Policy Program</li>
                        <li>Environmental Science and Technology Program</li>
                        <li>Epidemiology and Biostatistics</li>
                        <li>Executive Programs</li>
                    </ul>
                </div>

                <div id="F" class="list-containers">
                    <ul id="f1" class="dept-lists">
                        <li>Family Science</li>
                        <li>Film Studies</li>
                        <li>Finance</li>
                        <li>Fire Protection Engineering</li>
                        <li>Fischell Dept. of Bioengineering</li>
                        <li>French Studies</li>
                    </ul>
                </div>

                <div id="G" class="list-containers">
                    <ul id="g1" class="dept-lists">
                        <li>Geography</li>
                        <li>Geology</li>
                        <li>Germanic Studies</li>
                        <li>Government and Politics</li>
                    </ul>
                </div>

                <div id="H" class="list-containers">
                    <ul id="h1" class="dept-lists">
                        <li>Health Services Administration</li>
                        <li>Hearing and Speech Sciences</li>
                        <li>Historic Preservation Program</li>
                        <li>History</li>
                        <li>Human Development</li>
                    </ul>
                </div>

                <div id="I" class="list-containers">
                    <ul id="i1" class="dept-lists">
                        <li>Individual Studies Program</li>
                        <li>Institute of Applied Agriculture</li>
                        <li>Italian Language and Literature</li>
                    </ul>
                </div>

                <div id="J" class="list-containers">
                    <ul id="j1" class="dept-lists">
                        <li>Japanese Language and Culture</li>
                        <li>Jewish Studies Program</li>
                        <li>Joint Program in Survey Methodology</li>
                        <li>Journalism</li>
                    </ul>
                </div>

                <div id="K" class="list-containers">
                    <ul id="k1" class="dept-lists">
                        <li>Kinesiology</li>
                        <li>Korean Language and Culture</li>
                    </ul>
                </div>

                <div id="L" class="list-containers">
                    <ul id="l1" class="dept-lists">
                        <li>Landscape Architecture</li>
                        <li>Latin American Studies Center</li>
                        <li>Lesbian, Gay, Bisexual, and Transgender (LGBT) Studies Program</li>
                        <li>Letters and Sciences</li>
                        <li>Linguistics</li>
                        <li>Logistics, Business and Public Policy</li>
                    </ul>
                </div>

                <div id="M" class="list-containers">
                    <ul id="m1" class="dept-lists">
                        <li>Management and Organization</li>
                        <li>Marine Estuarine Environmental Sciences</li>
                        <li>Marketing</li>
                        <li>Maryland Institute for Applied Environmental Health</li>
                        <li>Materials Science and Engineering</li>
                        <li>Mathematics</li>
                        <li>Measurement, Statistics and Evaluation</li>
                        <li>Mechanical Engineering</li>
                        <li>Music</li>
                    </ul>
                </div>

                <div id="N" class="list-containers">
                    <ul id="n1" class="dept-lists">
                        <li>National Persian Flagship Program</li>
                        <li>Natural Resources Management Program</li>
                        <li>Naval ROTC</li>
                        <li>Neuroscience and Cognitive Science Program</li>
                        <li>Nutrition and Food Science</li>
                    </ul>
                </div>

                <div id="P" class="list-containers">
                    <ul id="p1" class="dept-lists">
                        <li>Persian Studies</li>
                        <li>Philosophy</li>
                        <li>Physics</li>
                        <li>Plant Sciences and Landscape Architecture</li>
                        <li>Psychology</li>
                    </ul>
                </div>

                <div id="R" class="list-containers">
                    <ul id="r1" class="dept-lists">
                        <li>Real Estate Development Program</li>
                        <li>Reliability Engineering</li>
                        <li>Russian Language and Culture</li>
                    </ul>
                </div>

                <div id="S" class="list-containers">
                    <ul id="s1" class="dept-lists">
                        <li>School of Languages, Literatures and Cultures</li>
                        <li>Second Language Acquisition</li>
                        <li>Sociology</li>
                        <li>Spanish and Portuguese languages and Literatures</li>
                        <li>Special Education</li>
                        <li>Statistics Program</li>
                        <li>Sustainable Development and Conservation Biology (CONS)</li>
                    </ul>
                </div>

                <div id="T" class="list-containers">
                    <ul id="t1" class="dept-lists">
                        <li>Teaching and Learning, Policy and Leadership</li>
                        <li>Networking and Telecommunications Services</li>
                        <li>Theatre</li>
                    </ul>
                </div>

                <div id="U" class="list-containers">
                    <ul id="u1" class="dept-lists">
                        <li>Urban Studies and Planning</li>
                    </ul>
                </div>

                <div id="V" class="list-containers">
                    <ul id="v1" class="dept-lists">
                        <li>Virginia-Maryland Regional College of Veterinary Medicine</li>
                    </ul>
                </div>

                <div id="W" class="list-containers">
                    <ul id="w1" class="dept-lists">
                        <li>Women's Studies</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
-->

            <table ng-if="dataLoading == false">
                <tr class="table-header">
                    <!--                    <th><i class="fa fa-check-square-o" aria-hidden="true"></i></th>-->
                    <th ng-click="sortRows('Employee')">
                        <a id="employee">
                            Employee

                            <span ng-show="sortRowArray[0] == 1">
                                ▲
                            </span>
                            <span ng-show="sortRowArray[0] == 2">
                                ▼
                            </span>
                        </a>
                        <i></i>
                    </th>
                    <th ng-click="sortRows('Department')">
                        <a id="department">
                            Department
                            <span ng-show="sortRowArray[1] == 1">
                                ▲
                            </span>
                            <span ng-show="sortRowArray[1] == 2">
                                ▼
                            </span>
                        </a>
                        <i></i>
                    </th>
                    <th ng-click="sortRows('Title')">
                        <a id="titleSort">
                            Title
                            <span ng-show="sortRowArray[2] == 1">
                                ▲
                            </span>
                            <span ng-show="sortRowArray[2] == 2">
                                ▼
                            </span>
                        </a>
                        <i></i>
                    </th>
                    <th ng-click="sortRows('Salary')">
                        <a id="salSort">
                            Salary
                            <span ng-show="sortRowArray[3] == 1">
                                ▲
                            </span>
                            <span ng-show="sortRowArray[3] == 2">
                                ▼
                            </span>
                        </a>
                        <i></i>
                    </th>
                </tr>

                <tr ng-repeat="row in tableData">
                    <!--
<td>
    <input type="checkbox">
</td>
-->
                    <td>
                        {{row.Employee}}
                    </td>
                    <td id="deptRow">
                        {{row.Department}}
                    </td>
                    <td>
                        {{row.Title}}
                    </td>
                    <td>
                        {{row.Salary}}
                    </td>
                </tr>

            </table>

            <div class="table-footer center" ng-if="dataLoading == false">

                <div class="buttons center">
                    <button class="center" id="prev" ng-disalbed="page_count == 1" ng-click="prev_page()">&#9664;</button>
                    <button class="center" id="next" ng-disabled="page_count == max_pages" ng-click="next_page()">&#9654;</button>

                </div>
                <p>Page {{page_count}} of {{max_pages}}</p>

            </div>

        </div>
    </div>
</wrapper>
